/* Css for my portfolio */
header{
    padding-bottom: 0;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline;
    /* font-weight: bold; */
}
.ongoing{
    background-color:  rgb(60, 158, 250);
    border-radius: 5px;
    padding: 1%;
    font-size: small;
    color: white;
}
.progress-bar{
    /* font-weight: bold; */
    font-size: medium;
}
.progress, .progress-bar{
    border-radius: 20px;
}

.recent-work-text{
   margin: auto;
   font-weight: bold;
}
ul li{
    margin: 1em auto ;
}
