/* Modal styles */
.contact-modal{
     position: fixed;
     z-index: 1300;
     right: 0;
     bottom: 0;
     top: 0;
     left: 0;
     display: flex;
     align-items: center;
     justify-content: center;
}

.contact-modal-box{
        background-color: var(--accent);
        border-radius: 15px;
        color: var(--secondary);
        padding: 0  10px 0 3em; /* top right botttom left */
        min-width: 40vw;
        /* font-size: small !important; */
}

.contact-link-container{
     margin: 2em auto;
}

.contact-link-container a:hover{
     font-weight: bold;     
}
.contact-icon{
     color: var(--secondary);
     margin-right: 1em;
}
.contact-link{
     text-decoration: none;
     color: var(--secondary);
}
.social-icon-container{
     margin-top: 30% !important;
}
.social-icon:hover{
     color: var(--primary) !important;
}
/* Form styles */
.contact-form{
     height: max-content;
     width: 100%;
     background-color: var(--white);
     border-radius: 15px;
     margin: 1em 0 !important;
     padding: 2em .2em;
}
.form-input{
     margin-bottom: 2em !important;
     border-color: var(--accent) !important;
}

.form-send{
     background-color: var(--secondary) !important;
     font-family: Quicksand !important;
     font-size: small !important;
     font-weight: bold;
     justify-self: end !important;
}

@media only screen and (max-width: 600px) {
     .contact-modal-box{
          min-width: 70vw;
     }
     .contact-modal-box{
          padding: 0  15px 0 1em; /* top right botttom left */
  }
     .contact-form{
          padding: 2em 10px;
  }
}