/* To import the colors of the website */
@import url("../utility/colours.css");



.App {
  text-align: center;
  background-color: var(--primary);
  height: 100vh;
  color: white;
  
}

.bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;
}

.home-main{
  height: 100vh;
}
.skills-section{
  min-height: 50vh;
  background-color: aliceblue;
}

.skills-eulogy{
  color: var(--primary);
}

@media only screen and (max-width: 600px) {
  .bg{
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
  }
}




