/* To import the colors of the website */
@import url("../utility/colours.css");

.home-cont{
  background-color: var(--primary);
  background-image: url("../images/home_bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding-top: 1px;
}

.App {
  text-align: center;
  /* background-image: url("../images/home_bg.svg"); */
  /* background-color: var(--primary); */
  background: transparent;
  color: white;
  min-height: 70vh;
  margin-top: 30vh;
}
.bg-img{
 
 background-color: var(--primary);
}


.home-main h2{
  /* margin-top: 40vh; */
  font-family: Quicksand !important;
  font-size: 4em !important;
}
.home-main-loop{
  font-size: 2em !important;
}
.home-text-loop{
  color: var(--contrast);
  font-weight: bold;
}
.text-contrast{
  color: var(--contrast);
}
.skills-section{
  min-height: 50vh;
  background-color: var(--accent);
}

.skills-eulogy{
  color: var(--primary);
  font-size: 150% !important;
  margin: 2em auto !important;
}
.profile-container{
  margin: 5em 0;
}
.profile-image{
  width: 25em;
  height: 25em;
  background-color: var(--secondary);
  border-radius: 10px;
}

.profile-skills{
  margin: 5em 0;
}
.skills-head{
  font-weight:bolder;
  font-size: x-large;
  color: var(--primary);
}
.skill-name{
  background-color: var(--primary);
  padding: 5px 0;
  border-radius: 5px;
  color: var(--accent);
  font-weight: bold;
}

.skills-footer{
  font-weight:  bold;
}
@media only screen and (max-width: 600px) {
  .bg{
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
  }
}




