/* To import the colors of the website */
@import url("../utility/colours.css");


.resume-main{
     background-color: var(--primary);
     min-height: max-content;
}
.resume-head{
     margin-bottom: 2em !important;
     font-weight: bold;
     color: var(--contrast);
     font-size: large !important;
}
.resume-container{
     min-height: 60vh;
     background-color: var(--altacc);
     margin: 2em auto;
     width: max-content;
     max-width: 90%;
     border-radius: 10px;
     padding: 2em;
}

.resume-dowload{
     border-color: var(--contrast) !important;
     color: var(--contrast) !important;
     font-weight: bold !important;
     font-family: Quicksand !important;
     /* padding: .2em .5em !important; */
     border-radius: 5px !important;
     margin: 2em auto !important;
}

.resume-dowload:hover{
     background-color: var(--contrast) !important;
     color: var(--primary) !important;
}
              
.resume-dowload-link{
     text-decoration: none;
     color: inherit;
}
/* Footer CSS */
#footer-resume{
     color: var(--contrast);
}