/* To import the colors of the website */
@import url("../utility/colours.css");



.App {
  text-align: center;
  background-color: var(--primary);
  height: 100vh;
  color: white;
  
}

.bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;
}



