---
const currentYear = new Date().getFullYear();
---

<footer
  class="mt-16 pt-8 border-t border-gray-200 dark:border-gray-800 text-sm text-gray-500 text-center animate-fade-in-delay"
>
  <p class="mb-2">
    © {currentYear} Hanif Adedotun. | All Rights Reserved.
  </p>
  <p>
    Source code is available at
    <a
      href="https://github.com/Hanif-adedotun/Portfolio"
      class="text-gray-600 dark:text-gray-400 hover:text-contrast transition-colors duration-300 underline"
      >github.com/hanif-adedotun/Portfolio</a
    >
  </p>
</footer>


