/* To import the colors of the website */
/* @import url("../src/utility/colours.css"); */

:root{
  --primary: rgba(17, 34, 51, 1);
}

.App {
  text-align: center;
  background-color: var(--primary);
  height: 100vh;
  color: white;
}



